@import 'themes-vars';
@import 'plugins/plugins';

/* breadcrumb */
.link-breadcrumb {
  font-size: 0.75rem;
  display: flex;
  text-decoration: none;
}

/* card */

.card-header {
  font-weight: 600 !important;
  font-size: 15px;
}

.apexcharts-legend-marker {
  margin-right: 8px !important;
}

.dialog {
  width: "500px";
}

.MuiFormControlLabel-root {
  margin-right: 10px !important
}

@media screen and (min-width: 600px) {
  .dialog {
    width: 100%;
  }
}

.MuiOutlinedInput-root {
  text-align: start;
}

.report .common-table [role="row"]>*:nth-child(5) {
  min-width: 220px;
  padding: 5px 0;
}
.enroll .common-table [role="row"]>*:nth-child(17) {  
  min-width: 124px;
  gap: 10px;
  margin-right: 4px;
}
.enroll .common-table [role="row"]>*:nth-child(17)>*:nth-child(1) {
  width: 100%;
}



/* 404 page */

.cls-1 {
  fill: #ffc541;
}

.cls-2 {
  fill: #4e4066;
}

.cls-3 {
  fill: #6f5b92;
}

.cls-4 {
  fill: #f78d5e;
}

.cls-5 {
  fill: #fa976c;
}

.cls-6,
.cls-7,
.cls-8 {
  fill: #b65c32;
}

.cls-10,
.cls-6 {
  opacity: 0.6;
}

.cls-7 {
  opacity: 0.4;
}

.cls-9 {
  fill: #f4b73b;
}

.cls-11 {
  fill: #f9c358;
}

.cls-12 {
  fill: #9b462c;
}

.cls-13 {
  fill: #aa512e;
}

.cls-14 {
  fill: #7d6aa5;
}

/* animations */

.wheel {
  animation: wheel-rotate 6s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel-rotate {
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  100% {
    transform: rotate(960deg);
  }
}

.clock-hand-1 {
  animation: clock-rotate 3s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

.clock-hand-2 {
  animation: clock-rotate 6s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes clock-rotate {
  100% {
    transform: rotate(360deg);
  }
}

#box-top {
  animation: box-top-anim 2s linear infinite;
  transform-origin: right top;
  transform-box: fill-box;
}

@keyframes box-top-anim {
  50% {
    transform: rotate(-5deg);
  }
}

#umbrella {
  animation: umbrella-anim 6s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes umbrella-anim {
  25% {
    transform: translateY(10px) rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }
}

#cup {
  animation: cup-rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  transform-origin: top left;
  transform-box: fill-box;
}

@keyframes cup-rotate {
  50% {
    transform: rotate(-5deg);
  }
}

#pillow {
  animation: pillow-anim 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes pillow-anim {
  25% {
    transform: rotate(10deg) translateY(5px);
  }

  75% {
    transform: rotate(-10deg);
  }
}

#stripe {
  animation: stripe-anim 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes stripe-anim {
  25% {
    transform: translate(10px, 0) rotate(-10deg);
  }

  75% {
    transform: translateX(10px);
  }
}

#bike {
  animation: bike-anim 6s ease infinite;
}

@keyframes bike-anim {
  0% {
    transform: translateX(-1300px);
  }

  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  100% {
    transform: translateX(1300px);
  }
}

#rucksack {
  animation: ruck-anim 3s linear infinite;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes ruck-anim {
  50% {
    transform: rotate(5deg);
  }
}

.circle {
  animation: circle-anim ease infinite;
  transform-origin: center;
  transform-box: fill-box;
  perspective: 0px;
}

.circle.c1 {
  animation-duration: 2s;
}

.circle.c2 {
  animation-duration: 3s;
}

.circle.c3 {
  animation-duration: 1s;
}

.circle.c4 {
  animation-duration: 1s;
}

.circle.c5 {
  animation-duration: 2s;
}

.circle.c6 {
  animation-duration: 3s;
}

@keyframes circle-anim {
  50% {
    transform: scale(0.2) rotateX(360deg) rotateY(360deg);
  }
}

.four,
#ou {
  animation: four-anim cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.four.a {
  transform-origin: bottom left;
  animation-duration: 3s;
  transform-box: fill-box;
}

.four.b {
  transform-origin: bottom right;
  animation-duration: 3s;
  transform-box: fill-box;
}

#ou {
  animation-duration: 6s;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes four-anim {
  50% {
    transform: scale(0.98);
  }
}

.common-table [role="cell"]>*:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .common-table [role="table"] [role="cell"]  {
//   max-width:150px;
//   width: 150px;
// }
// .common-table [role="table"] .rdt_TableCol  {
//   max-width:150px;
//   width: 150px;
// }
.common-table [role="cell"]:hover>*:nth-child(1) {
  white-space: unset !important;
  overflow: unset !important;
  text-overflow: unset !important;
}

.common-table [role="columnheader"]>*:nth-child(1) {
  white-space: unset !important;
  overflow: unset !important;
  text-overflow: unset !important;
}

.container {
  width: 95%;
  max-width: 100%;
  margin: .2% 2.5%;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
}

/* Header styles */
.receipt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}
.receipt-header-mid{
  margin-bottom: 0px !important;
}
.nav-receipt{
  position: absolute;
  right: -19px;
  top: -15px;
}

.receipt-headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.receipt-header h1,
.receipt-header h5 {
  margin: 0;
}
.receipt-header h4 {
  margin: 2px !important;
}

p {
  margin: 0;
}

.fees-header {
  margin-top: 4px !important;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
  text-align: left;
}

/* Footer styles */
.receipt-footer {
  padding-top: 10px;
}

.receipt-footer p {
  margin-bottom: 10px;
}

.receipt-footer h5 {
  color: rgb(140, 140, 140);
}

#invoice tr p {
  margin: 0px 0;
}

.p50 {
  width: 100px;
}

.total-border-item{
  border-top: 2px solid #00000059;
  border-bottom: 2px solid #00000059;
}


.nav-data {
  width: 70%;
  font-size: .7rem;
}

.nav-title {
  font-size: .8rem;
  width: 92px;
  font-weight: bold;
}

.nav-detail {
  display: flex;
}

.nav-details {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.border-line-fileds {
  border-bottom: 1px solid rgb(0 0 0);
  width: 100%;
  display: flex;
}

.mr-6p {
  margin-right: 15px;
}

.branch-address {
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.divider-form {
  background: #000;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  line-height: 24px;
  text-transform: uppercase;
  gap: 6px;
  display: flex;
    justify-content: space-between;
    padding: 0 12px;
}
.parent-divider-div{
  display: flex;
  gap: 5px;
}


.branch-address{
  background: #000;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  line-height: 24px;
  text-transform: uppercase;
  gap: 6px;
  font-size: 14px;
}
.footer-divider-form {
  width: 100%;
  align-items: center;
  display: flex;
  height: 2px;
  margin: 10px 0 5px 0;
  border-bottom: 1px solid #80808069;
}
.logo-text-wrraper{
  flex-direction: column;
    width: 100%;
    margin-left: 10px;
    font-size: 44px;
    text-transform: uppercase;
    color: #000;
    display: flex;
    align-items: end;
    font-weight: 600;
    font-family: Times new roman;
    margin-top: 28px;
}
.receipt-header{
  padding: 0 0px;
}
.pvt-ltd{
  font-size: 32px;
}
.logo-text div{
  height: 30px;
}
.logo-img-png{
  width: 130px !important; height: 100px !important;
  position: absolute;
  left: 24px;
  top: -10px;
}
.logo-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.sun-text{
 width: 67%;
 height: 64px;
  display: flex;
  justify-content: center;
}

.profile-section .MuiList-root{
  overflow-y: scroll !important;
  max-height: calc(100vh - 105px);
}

.receipt_data{
  margin-top: 8px;
}

.receipt_data td{
  padding: 0 8px !important;
}


#picture__input {
  display: none;
}

.picture {
  height: 170px;
  width: 100%;
  aspect-ratio: 16/9;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

.picture__image {
  width: 100%;
  height: 100%;
}

.picture__image > div:first-child {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* Other styles */
}

.picture__image svg {
  width: 50%;
  height: 50%;
}

.picture__image img {
  height: 100%;
  width: 100%;
}

.office-use-only{
  font-size: 10px !important;
  font-weight: 500 !important;
}